<div class="container-fluid">
    <h2>{{ podcast.title }}</h2>
    <div class="row-fluid">
        <div class="list-group">
            <!--Body content-->
            <div ng-repeat="episode in podcast.episodes | filter:query | orderBy:'published_on':true" class="media list-group-item">
                <a class="pull-left" href="#">
                    <img class="media-object" ng-src="{{podcast.image_url}}" alt="{{podcast.title}}" height="64" width="64">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{episode.title}}</h4>
                    {{episode.description}}
                    <br/>
                        <a href="{{ episode.url }}">Download</a>
                    <br/>
                    <audio src="{{ episode.url }}" controls preload="none" id="{{ episode.id }}">
                    </audio>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
